{% extends "base.html" %}
{% block title %}
    About Bookshelf
{% endblock %}
{% block content %}
  <div class ="container">
  <h1>FAQ and Credits</h1>
      <br/>
  </div>
<div class = "container">

<h3>Frequently Asked Questions about Bookshelf</h3>
    <br>
    <p><b>Who are you?</b></p>
    <p>My name is Dae. Hi!</p>
    <p><b>Are you a coder?</b></p>
    <p>No. I'm an elementary school teacher! I learned (some) Python and Javascript so I could make this game.
        I had help (see below). I know my code...isn't the most elegant. If you want to yell at me about it, click <a href="/contact">here</a>.</p>
    <p><b>Why did you make this?</b></p>
    <p>I like to have fun projects. Also, I made a paper version of it for a friend, and then wondered what a web-based version would be like.</p>
    <p><b>What kinds of books are in this? What types of things should I guess?</b></p>
    <p>Good question! The Bookshelf library consists of 750ish books (and counting). They are novels, novellas, plays,
    children's books, and creative memoirs/autobiographies. There are no scientific texts or philosophical treatises.
        I try to make it so that there's a good mixture of classic books that everyone is familiar with and more obscure
        or new titles that I think it might be fun for you to check out!</p>
    <p><b>Can I suggest a book?</b></p>
    <p>Sure! No promises on when/if it'll show up, but I love suggestions! <a href="mailto:bookshelfthegame@gmail.com">
        Send me an email!</a></p>
    <p><b>Why don't you show the answer after 6 guesses?</b></p>
    <p>Mmm, now we're getting philosophical. After your 6 clues are gone, I want you to have the opportunity to
    ponder the book for a bit - who knows, maybe it'll come to you in a flash! But if it doesn't...feel free to
    use the clues I've given you to look the book up. You know, on the internet. <b>What?</b> I hear you say.
        And I say: yes! I want Bookshelf players to get introduced to new books, and you remember new information better when
    you <b>do</b> something with it as opposed to just being given it. Also, sometimes going outside the game can also
    be a part of <a href="https://www.youtube.com/watch?v=ZHmivGmkjJw" target="_blank">intended play.</a></p>
    <p><b>I am skeptical of you.</b></p>
    <p>That's healthy!</p>
    <p><b>Is this like Wordle? Do you play Wordle?</b></p>
    <p>I guess you could say that this game was <em>inspired by</em> Wordle, though there are some significant
    differences. In Bookshelf, the answer could be any length, so the answer-input and checking mechanisms are
        different from Wordle's. Also, in my game, you get clues. And guess who had to write all those clues?
        Me. It was fun though!</p>
    <p>And yes, I do play Wordle every day. Other daily games include Worldle, Globle, Flagle, Capitle, and Framed.</p>
    <p><b>Why don't you track my win streak? Why are you tracking my play streakinstead?</b></p>
    <p>Well, that's a philosophical question! Unlike games like Wordle, where you're likely to have heard of
    every word in the data set, some of Bookshelf's answers might not be guessable for you. You may never have
    read or even heard of today's book - and that's ok! It's fun to discover new things! So in an effort to keep things
    both fun and fair, I track your days <em>played</em> in a row, not games <em>won</em> in a row. Ta da!</p>
    <p><b>Gee, I sure do love this game. What can I do to show my appreciation?</b></p>
    <p>Please consider <a href="/support">sending me a tip!</a> I am currently a doctoral student who also works
    full time, so I very much need the money. Thank you! If you can't tip me, then please share the game!</p>
    <p><b>Why doesn't this game have X feature? Game Y has X feature! Grrr!</b></p>
    <p>I would really love to add more features to Bookshelf! I'm working on it, I swear. If you have an idea for me,
    <a href="mailto:bookshelfthegame@gmail.com">send me an email</a>, or better yet, <a href="/support">buy me a coffee</a>.
    Caffeine helps me produce.</p>
    <p><b>What is the best dinosaur?</b></p>
    <p>It's a tie between <a href="https://en.wikipedia.org/wiki/Ankylosaurus" target="_blank">Ankylosaurus</a> and
        <a href="https://en.wikipedia.org/wiki/Guanlong" target="_blank">Guanlong.</a></p>

<h2>Credits</h2>
    <br>
    <p>Thanks to <b>M</b> for giving me the initial idea, and for rating a spreadsheet of over 1,000 books.</p>
    <p>Thanks to <b>Drew Pereli</b> for help with the JavaScript. He's a great teacher, and you should
        <a href="https://takelessons.com/profile/andrew-p89?service=javascript&online=1#bio" target="_blank">give him money.</a></p>
    <p>Thanks to <b>Detlef</b> on Stack Overflow who helped me through a tricky bit of Python.</p>
    <p>Thanks to <b>Jing</b> for listening to me rant and making sympathetic noises.</p>
    <br>
<br>
    </div>
{% endblock %}