{% extends "base.html" %}
{% block title %}
    About Bookshelf
{% endblock %}
{% block content %}
  <div class ="container">
  <h1>FAQ and Credits</h1>
      <br/>
  </div>
<div class = "container">

<h3>Frequently Asked Questions about Bookshelf</h3>
    <br>
    <p><b>Who are you?</b></p>
    <p>My name is Dae. Hi!</p>
    <p><b>Are you a coder?</b></p>
    <p>No. I learned (some) Python so I could make this game. I had help with some JavaScript bits (see the
    credits below). I know my code...isn't the most elegant. If you want to yell at me about it, click <a href="/contact">here</a>.</p>
    <p><b>Why did you make this?</b></p>
    <p>I like to have fun projects. Also, I made a paper version of it for a friend, and then wondered what a web-based version would be like.</p>
    <p><b>Is this like Wordle? Do you play Wordle?</b></p>
    <p>I guess you could say that this game was <em>inspired by</em> Wordle, though there are some significant
    differences. Wordle is all done in JavaScript; Bookshelf is actually powered by Python. Also, in Bookshelf the answer
    could be any length, so the answer-input and checking mechanisms are different from Wordle's. Also, in Bookshelf,
    you get clues. And guess who had to write all those clues? Me. It was fun though!</p>
    <p>And yes, I do play Wordle every day. Other daily games include Worldle, Globle, Flagle, Capitle, and Framed.</p>
    <p><b>Gee, I sure do love this game. What can I do to show my appreciation?</b></p>
    <p>Please consider <a href="support.html">sending me a tip!</a> I am currently a doctoral student who also works
    full time, so I very much need the money. Thank you!</p>
    <p><b>Why doesn't this game let me keep track of my streak? Wordle lets me keep track of my streak! Why do you hate fun?</b></p>
    <p>I would really love to add more features to Bookshelf! I'm working on it, I swear. If you have an idea for me,
    <a href="mailto:bookshelfthegame@gmail.com">send me an email</a>, or better yet, <a href="support.html">buy me a coffee</a>.</p>
    <p><b>What is the best dinosaur?</b></p>
    <p>It's a tie between <a href="https://en.wikipedia.org/wiki/Ankylosaurus" target="_blank">Ankylosaurus</a> and
        <a href="https://en.wikipedia.org/wiki/Guanlong" target="_blank">Guanlong.</a></p>

<h2>Credits</h2>
    <br>
    <p>Thanks to <b>M</b> for giving me the initial idea, and for rating a spreadsheet of over 1,000 books.</p>
    <p>Thanks to <b>Drew Pereli</b> for help with the JavaScript. He's a great teacher, and you should
        <a href="https://takelessons.com/profile/andrew-p89?service=javascript&online=1#bio" target="_blank">give him money.</a></p>
    <p>Thanks to <b>Detlef</b> on stack overflow who helped me through a tricky bit of Python, and who is just a real solid, upstanding dude.</p>
<br>
<br>
    </div>
{% endblock %}