<!--
Bookshelf
Copyright 2023, Dae Selcer
All rights reserved for now
What license should I use for this? I do not know!
-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="Bookshelf the Game">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Guess today's book on your virtual bookshelf with the help of 6 clues in
ascending order of difficulty!">

  <!-- bootstrap css-->
    {{ bootstrap.load_css() }}
    <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<!-- timer js -->
  <script src="/static/js/time.js"></script>
    <title>
        {% block title %}Bookshelf!{% endblock %}
    </title>

  <link rel="stylesheet" href="/static/css/dark-mode.css">
  </head>
  <body>

  <!-- Navigation Bar-->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Bookshelf!</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 w-50 d-flex justify-content-around">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/play">Play</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="/support">Support Bookshelf!</a>
        </li>
    </ul>
      <!-- darkmode switch -->
            <div class ="custom-control custom-checkbox">
            <input type="checkbox"  class = "custom-control-input"  id ="darkSwitch">
                <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
             </div>
       <script src="/static/js/dark-mode-switch.js"></script>


  </div>
</nav>


  <br/>
  <br/>





{% block content %}

{% endblock %}

    <!-- Shareon js for social share, then Bootstrap JS, then dark mode js -->

    <link href="https://cdn.jsdelivr.net/npm/shareon@2/dist/shareon.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/shareon@2/dist/shareon.iife.js" defer init></script>
    {{ bootstrap.load_js() }}
  <!-- copyright and privacy -->
  <br>
  <br>
  <br>
  <br>
  <div class="container">Copyright Dae Selcer, 2023. All rights reserved. <a href="/privacy">Privacy Policy.</a></div><br>
  </body>
</html>