{% extends "base.html" %}
{% block content %}

    <div class = "container">
    <h1>Welcome to Bookshelf!</h1>
        <br/>
    <h2>Hi there!</h2>
        <br/>
    <p>{{ description }}</p>
        <p>{{ a }}</p>
        <p>{{ b }}</p>
        <p>{{ c }}</p>
        <p>You can click on <a href="/play">play</a> to play.</p>
        <p>If you like Bookshelf, please consider <a href="/support">buying me a coffee</a>.</p>
        <p>Got questions? Check out the about/faq page <a href="/about">here</a>.</p>
        <p>Remember, Bookshelf refreshes every day at midnight, Central Standard Time.</p>
        <p>Right now, it is: <b>{{ date|datetimefilter }}</b></p>
    </div>
    <br/>

{% endblock %}