{% extends "base.html" %}
{% block content %}
    <!--  confetti -->
<script src ="/static/js/confetti.js"></script>

    <!-- date variables -->
<script type ="text/javascript">

// constituting date variables and localstorage, just because
const date_now = new Date();
const jsonDate_now = date_now.toJSON();
localStorage.setItem("date_now", jsonDate_now);

</script>
    <!-- js counter stuff needed on this page -->
    <script type="text/javascript">

// initialize application defaults - is it a PROBLEM that this is a DUPLICATE? no, right, because initiate?
let counter = JSON.parse(localStorage.getItem("counter")) || {
    submit: 0
};

// onload
window.onload = function() {

	// update page
	document.getElementById("guesses").firstChild.nodeValue = counter.submit + " guess" +
        (counter.submit === 1 ? "" : "es");

	// store value in local storage
	localStorage.setItem("counter", JSON.stringify(counter));

};

// clear count used to go here

</script>


    <div class = "container">
    <h1>Play Bookshelf</h1>
        <br/>
        <p>What's on your bookshelf today? Here are your six clues for today.</p>
        <p>In the Bookshelf library, it is currently: <b>{{ date|datetimefilter }}</b>.</p>
            <p>A new book is selected every day
                at<b> 12:00 AM</b> Bookshelf Library Time (UTC).
    </div>
<!-- collapsible rule container -->
    <div class = "container"><button class="btn btn-outline-info" type="button" data-toggle="collapse"
                                     data-target="#collapseRules" aria-expanded="false" aria-controls="collapseRules">
    Read the Rules and Tips (Seriously)
    </button>
    <div class="collapse" id="collapseRules">
  <div class="card card-body">
      <p>1. The clues are collapsible. Click to reveal them. Look at Clue 1, then type a guess. Look at Clue 2, then type a guess.
      And so on and so forth. Your past guesses display under "Your Guesses So Far."<br>
      2. Spelling absolutely counts.<br>
      3. But capitalization does not. Hurray!<br>
      4. Do not use quotation marks.<br>
      5. If a book's title includes an apostrophe, include it. "Gerald's Game" would be correct; "Geralds Game" would be incorrect.<br>
      6. In fact, include all punctuation. The book "O Pioneers!" has an exclamation point, so you need one too!<br>
      7. Except quotation marks. Don't include those. We hate them.<br>
      8. You have unlimited guesses.<br>
          9. Guesses display under "Your Guesses So Far" as you make them.<br>
      10. Answers will always be a book's full title. So "Left Hand Of Darkness" would be incorrect, but
      "The Left Hand Of Darkness" would be correct.<br>
      11. Numbers should be treated as they were in the original title. "1984" is correct; "Nineteen Eighty Four" is not.<br>
      12. Answers do not repeat.<br>
      13. All the books are narrative fiction, epic poems,
      plays, or memoirs. There are no scientific texts or works of philosophy. ...Yet.<br>
      14. Make sure you have the right title. "Pinocchio" isn't a book, but "The Adventures Of Pinocchio" is. So if you're
      super sure about an answer, ask yourself if the book's *actual* title is different from what it's usually called.<br></p>
  </div>
    </div>

</div>
    <br>
    <!-- guesses displayed here-->
<div class = "container">
<p>You have made <strong><span id="guesses">0 </span></strong> today.</p>

    <!-- DELETED BUTTON FROM HERE-->

</div>
    <br>

<!-- type and check answers form-->
    <div class="container">
                <form action="/play" method ="POST">
                    <div class = "form-group">
                        <label><b>What's on your Bookshelf today?</b></label><br/>
                        <label>
                                                   <!-- Create a div element for autocomplete suggestions -->
      <div id="autocomplete-list"></div>
      <br>
                            <input class ="form control" type="text" name="guess" placeholder="Type your guess here!"
                            id="myInput">
                        </label>

                    </div>

                    <div class="container>"><button type="submit" class="btn btn-secondary" id="submit" onsubmit="guess_function()">Check Answer
                    </button></div>
                </form>
            </div>
    <br>

    <!-- correct/incorrect messages flash here-->
    <p> <div class ="container">

                {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                               <div class="alert alert-{{ category }}" role="alert">
                                   <span>{{ message }} </span></div>
                              {% if category == "success" %}
  <div>
    <p><b>Ding ding!</b> You found the right answer in <span id="shared-guesses"></span> guesses. Click
        below to share your score!</p>
  </div>

  <script> // interpolate guesses into the sharebox
   window.addEventListener('load', function() {
      document.getElementById('shared-guesses').innerText = counter.submit;
      document.getElementById('sharebox').value = `I found the book on today's shelf in ${counter.submit} guesses! https://www.bookshelfthegame.com/play`;
    });

  </script>
                                  <!-- confetti-->
                                  <script>
        const start = () => {
            setTimeout(function() {
                confetti.start()
            }, 500); // 1000 is time that after 1 second start the confetti ( 1000 = 1 sec)
        };

        //  for stopping the confetti

        const stop = () => {
            setTimeout(function() {
                confetti.stop()
            }, 10000); // 5000 is time that after 5 second stop the confetti ( 5000 = 5 sec)
        };
        start();
        stop();
</script>

{% endif %}

                            {% endfor %}
                        {% endif %}
                {% endwith %}
      </div>
<br>
    <!-- sharing score; previous block of code edits the copy clipboard stuff below-->
    <div class = "container">
    <input type="text" readonly="readonly" id="sharebox" value="You found the book on today's shelf in NUMBER guesses!
    https://www.bookshelfthegame.com/play"
           onclick="copyToClipboard_1(this);">
        <div id="copyStatus" style="display: none;"><p>Score copied successfully.</p></div>
    <script type="text/javascript">
        function copyToClipboard_1(element) {
            element.select();
            if(document.execCommand('copy')) {
                document.getElementById('copyStatus').style.display = '';
                setTimeout(function() {
                    document.getElementById('copyStatus').style.display = 'none';
                }, 5000);
            }
        }
    </script>
    </div>
    <br>
    <!-- shareon.js.org social share - remember to check URL before you go live-->
    <div class = "container">
    <div class="shareon" data-url="https://www.bookshelfthegame.com/play.html">
    <a class="twitter" data-title="Today's Bookshelf Score"></a>
    <a class="facebook" data-title="Today's Bookshelf Score"></a>
    <a class="reddit" data-title="Today's Bookshelf Score"></a>
    <a class="pinterest" data-title="Today's Bookshelf Score"></a>
    <a class = "mastodon" data-title="Today's Bookshelf Score"></a>
    <a class="linkedin" data-title="Today's Bookshelf Score"></a>
    <a class="whatsapp" data-title="Today's Bookshelf Score"></a>
        <a class="telegram" data-title="Today's Bookshelf Score"></a>
    </div></div><br/>

    <br>
      <!-- display guesses here-->
    <div class="container">
        <p><b>Your Guesses So Far</b></p>
    <ul id="show_guesses"></ul>
    </div>
    <br>
<!-- collapsible clues begin here-->
<div class="container">
    <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-light collapsed" type="button" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          View Clue #1
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          <p>{{ clueone }}</p>

      </div>
    </div>


  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-light collapsed" type="button" data-toggle="collapse"
                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          View Clue #2
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
          <p>{{ cluetwo }}</p>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-light collapsed" type="button" data-toggle="collapse"
                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          View Clue #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
          <p>{{ cluethree }}</p>
      </div>
  </div>
</div>

    <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-light collapsed" type="button" data-toggle="collapse"
                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          View Clue #4
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
          <p>{{ cluefour }}</p>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-light collapsed" type="button" data-toggle="collapse"
                data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          View Clue #5
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
          <p>{{ cluefive }}</p>
    </div>
  </div>

    <div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn btn-light collapsed" type="button" data-toggle="collapse"
                data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          View Clue #6
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
          <p>{{ cluesix }}</p>
    </div>
  </div>
</div>
    </div>
    </div>
  </div>
  </div></div>
    <br>
    <br>
        <!-- guess display js-->
<script src="/static/js/guess_display.js"></script>
    <!-- potential answers-->
    <script src ="/static/js/potential_answers.js"></script>
{% endblock %}