{% extends "base.html" %}
{% block title %}
    Privacy
{% endblock %}
{% block content %}
  <div class ="container">
  <h1>Privacy Policy</h1>
      <br>
      <p>{{ description }}</p>
      <p>Your privacy is important to us.</p>
          <p>Well, I say us, but I mean me. Your privacy is important to me! So, what data does this site collect at any
          given time during browsing, on any device?</p>
      <br>
      <h2>Personal Information</h2>
  <p>Well, I do <b>not</b> collect personal information on this site. There are no ads. Ads have trackers and are bad.
      Please <a href="/contact">give me money;</a> since I don't have ads on here, I pay for this out of my own pocket. Which is shallow. I'm
  a teacher married to another teacher.</p>
  <br>
  <p>I do have to collect some information to make this site work, though it's not personal information. This information may includes
  IP addresses, clicks, time you access the site, dark mode preference, and what you submit for your answers. I say "may include"
      because currently I actually don't collect any of those things; everything is run off of Local Storage, and it is stored on your machine,
      not on my end. And that's intentional, because I still believe in privacy. But if I have to make changes in how the site runs,
      I will update this page. Because I don't track any information, I do not sell or share your data with anyone. Even if
  how I run the site changes and I have to track minimal information, I still won't sell or share your data with anyone.</p>
  <br>
      <h2>Third Party Services</h2>
  <p>There are links on this site to share your Bookshelf information on social media sites, and those sites might track
  you around the web (in fact, they most definitely do), but I do not directly provide them with any of your personal information.</p>
  <br>
      <h2>Cookies</h2>
 <p>Let's talk about cookies. I don't use them. The end! But you probably have tons of cookies following you around from other sites,
     and they will still be active when you are on this site.</p>
  <br>
  <h2>More About Cookies</h2>
  <p>Cookies should be soft, chewy, and never contain raisins.</p>
  </div>

{% endblock %}