{% extends "base.html" %}
{% block title %}
    Support Bookshelf
{% endblock %}
{% block content %}
  <div class ="container">
  <h1>Support Bookshelf</h1>
      <br/>
      <p>{{ description }}</p>
      <p>Seriously, it was a lot of work to learn to code, and to hand-write the <em>thousands</em> of clues you see on Bookshelf each day.</p>
      <p>Your support means that I can continue working on Bookshelf, keep it ad-free, and also make more fun games in the future!</p>
      <p>And also get better at coding. Coding is hard.</p>
      <p><script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
          <script type='text/javascript'>kofiwidget2.init('Tip Me on Ko-fi', '#29abe0', 'N4N0G0ZT9');kofiwidget2.draw();
          </script> </p>
  <br/>
  </div>

{% endblock %}